<!DOCTYPE html>
<html ng-app="trackerapp">
<head>    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.MetaDescription">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
        
        <div class="header">
            <ul class="nav nav-pills pull-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="active"><a href="#">Home</a></li>
                    <li>@Html.ActionLink("Sign " + TrackerApp.Website.Models.SessionHelper.Instance.FirstName + " out", "SignOut", "Account")</li>
                }
                else
                {
                    <li class="active">@Html.ActionLink("Sign in", "SignOn", "Account")</li>  
                }
            </ul>
            <h3 class="text-muted">TrackerApp</h3>
        </div>

        @RenderBody()
        
        <div class="footer">
            <p>&copy; Oexenhave @DateTime.Now.Year</p>
        </div>
    </div>

    <script type="text/javascript">
        var root = '@Url.Content("~/")';
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/trackerapp.tracker.js")
    @RenderSection("scripts", required: false)
</body>
</html>
